[Unit]
Description=mokkimonitoring service
After=timesync.service

[Service]
ExecStart=/home/pi/mokki-monitor -conf mokki.json
WorkingDirectory=/home/pi/
StandardOutput=append:/home/pi/logs/mokkimonitoring.log
StandardError=append:/home/pi/logs/mokkimonitoring.err
Restart=always
User=root

[Install]
WantedBy=multi-user.target
